@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin font-pt-serif($weight: 400, $size: 14px, $line-height: 18px) {
  font-family: $font-primary;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;

  @media (max-width: $breakpoint-mobile) {
    font-size: $size * 0.85; // Slightly smaller font for mobile
    line-height: $line-height * 0.85;
  }
}

@mixin font-pt-sans($weight: 400, $size: 14px, $line-height: 24px) {
  font-family: $font-secondary;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;

  @media (max-width: $breakpoint-mobile) {
    font-size: $size * 0.85; // Slightly smaller font for mobile
    line-height: $line-height * 0.85;
  }
}

@mixin text-link {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
  }

  @media (max-width: $breakpoint-mobile) {
    &:hover {
      color: darken(
        $color-link-hover,
        10%
      ); // Darker hover color for better visibility on mobile
    }
  }
}
