@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bigB {
  width: 100%;
  height: 700px;
  background-image: url("../../../public/images/main_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  // Tablet styles
  @media (max-width: $breakpoint-tablet) {
    height: 500px;
  }

  // Mobile styles
  @media (max-width: $breakpoint-mobile) {
    height: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    z-index: $zindex-overlay;
  }

  &-text {
    position: absolute;
    top: 80%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 650px;
    max-width: 1200px;
    padding: 0 $spacing-large;
    box-sizing: border-box;
    gap: $spacing-small;
    z-index: $zindex-overlay + 1;

    // Tablet styles
    @media (max-width: $breakpoint-tablet) {
      left: 34%;
      transform: translate(-50%, -50%);
      width: 50%;
      padding: 0 $spacing-medium;
    }

    // Mobile styles
    @media (max-width: $breakpoint-mobile) {
      top: 85%;
      left: 50%;
      width: 90%;
      padding: 0 $spacing-small;
    }

    p,
    a,
    span {
      color: $white;
      text-decoration: none;
      transition: color 0.3s ease;

      // Tablet styles
      @media (max-width: $breakpoint-tablet) {
        @include font-pt-serif(400, 13px, 17px);
      }

      // Mobile styles
      @media (max-width: $breakpoint-mobile) {
        @include font-pt-serif(400, 10px, 14px);
      }
    }

    a:hover {
      color: $color-secondary;
    }
  }

  .cat,
  .headline,
  span {
    @include font-pt-serif(400, 14px, 18px);

    // Tablet styles
    @media (max-width: $breakpoint-tablet) {
      @include font-pt-serif(400, 12px, 16px);
    }

    // Mobile styles
    @media (max-width: $breakpoint-mobile) {
      @include font-pt-serif(400, 10px, 14px);
    }
  }

  .headline {
    @include font-pt-serif(700, 40px, 50px);

    // Tablet styles
    @media (max-width: $breakpoint-tablet) {
      @include font-pt-serif(700, 35px, 45px);
    }

    // Mobile styles
    @media (max-width: $breakpoint-mobile) {
      @include font-pt-serif(700, 24px, 32px);
    }
  }

  .bigB-wrapper {
    @include flex-row-center;
    gap: $spacing-medium;

    // Tablet styles
    @media (max-width: $breakpoint-tablet) {
      gap: $spacing-small;
    }

    // Mobile styles
    @media (max-width: $breakpoint-mobile) {
      flex-direction: row;
      gap: $spacing-small / 2;
    }
  }
}
