.bigB {
  width: 100%;
  height: 700px;
  background-image: url(../../../public/images/main_banner.png);
  background-repeat: round;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 6.5e-5) 0%,
      rgba(0, 0, 0, 0.65) 100%
    );
    z-index: 0;
  }

  &-text {
    display: flex;
    flex-direction: column;
    padding-top: 490px;
    gap: 14px;
    z-index: 1;
    position: relative;

    a {
      color: #ffffff;
      text-decoration: none;
    }

    .cat {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      font-style: normal;
      font-family: "PT Sans", sans-serif;
    }

    .headline {
      font-size: 40px;
      line-height: 50px;
      font-weight: 700;
      font-family: "PT Serif", serif;
      font-style: normal;
    }

    .bigB-wrapper {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      font-family: "PT Serif", serif;
      font-style: normal;
      gap: 15px;
    }
  }
}

.by {
  color: #b4b4b4;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  font-family: "PT Serif", serif;
  font-style: normal;
}
