@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bottom-menu-wrapper {
  @include flex-center;
  margin-bottom: $spacing-large;
}

.bottom-menu {
  @include flex-space-evenly;
  width: 352px;
  height: 18px;

  a {
    @include font-pt-serif(400, 14px, 18px);
    @include text-link;
    padding: 8px $spacing-medium;
  }
}

.logo-bottom {
  text-align: center;
  margin: $spacing-xlarge 0;

  a {
    @include font-pt-serif(700, 25px, 32px);
    width: 126px;
    letter-spacing: 2.5px;
    @include text-link;
    text-transform: uppercase;
  }

  .rectangle-bottom {
    width: 125px;
    height: 6px;
    margin-top: -$spacing-small;
    opacity: 0.35;
    background-color: $color-secondary;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zindex-default;
  }
}
