@import "../../styles/mixins";
@import "../../styles/variables";

html .comments-container {
  width: 100%;
  @include flex-column-start;
  background-color: $color-background-white;
  border-radius: 4px;
  span {
    @include font-pt-serif(700, 25px, 20px);
  }
  @media (max-width: $breakpoint-tablet) {
    span {
      font-size: 22px;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    span {
      font-size: 18px;
    }
  }
}

html .comment-item {
  width: 100%;
  border-bottom: 1px solid $border-color;
  padding: $spacing-small 0;
  &:last-child {
    border-bottom: none;
  }
  @media (max-width: $breakpoint-tablet) {
    padding: $spacing-small;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: $spacing-small 0;
  }
}

html .comment-name {
  @include font-pt-serif(700, 20px, 20px);
  color: $color-secondary;
  padding-bottom: $spacing-small;
  @media (max-width: $breakpoint-tablet) {
    font-size: 18px;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
  }
}

html .comment-content {
  @include font-pt-serif(400, 14px, 18px);
  color: $color-primary;
  margin-top: $spacing-small;
  @media (max-width: $breakpoint-tablet) {
    font-size: 13px;
  }
  @media (max-width: $breakpoint-mobile) {
    font-size: 12px;
  }
}
