@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.instagram-section {
  overflow: hidden;
  margin-top: $spacing-xlarge;

  .insta-main {
    @include font-pt-serif(400, 24px, 32px);
    text-align: center;
    color: $color-primary;
    margin-bottom: $spacing-large;

    a {
      @include text-link;
    }
  }

  .instagram-image img {
    width: 296px;
    height: 296px;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
