@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.instagram-section {
  overflow: hidden;
  margin-top: $spacing-xlarge;

  .insta-main {
    @include font-pt-serif(400, 24px, 32px);
    text-align: center;
    color: $color-primary;
    margin-bottom: $spacing-large;

    a {
      @include text-link;
    }

    .instagram-image img {
      max-width: 100%;
      height: auto;
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }
  @media (max-width: $breakpoint-tablet), (max-width: $breakpoint-mobile) {
    // Adjust this value based on your tablet breakpoint
    .react-multiple-carousel__arrow {
      display: none;
    }
  }
}
