@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

html .left-bar {
  justify-content: center;
  @include flex-column-center;
  padding-top: $spacing-xlarge;
  width: 100%; // Make sure the width is responsive

  // Adjust the left bar for tablet devices
  @media (max-width: $breakpoint-tablet) {
    padding-top: $spacing-large;
  }

  // Adjust the left bar for mobile devices
  @media (max-width: $breakpoint-mobile) {
    padding-top: $spacing-medium;
  }

  &-blocks {
    padding: $spacing-medium 0;
    @include font-pt-serif;
    color: $color-primary;
    width: 100%; // Make the width responsive
    // max-width: 270px; // Set a max-width to control the size on larger screens
    height: auto; // Make the height flexible to content
    border: 1px solid $border-color;
    background-color: $color-background-white;
    text-align: center;
    align-self: center;
    margin-bottom: $spacing-large;

    // Adjust the blocks for tablet devices
    @media (max-width: $breakpoint-tablet) {
      padding: $spacing-small 0;
      margin-bottom: $spacing-medium;
    }

    // Adjust the blocks for mobile devices
    @media (max-width: $breakpoint-mobile) {
      padding: $spacing-small 0;
      margin-bottom: $spacing-small;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    .social-links {
      display: none;
    }
  }
}
