@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

html .left-bar {
  @include flex-column-center;
  padding-top: $spacing-xlarge;

  &-blocks {
    padding: $spacing-medium 0;
    @include font-pt-serif;
    color: $color-primary;
    width: 270px;
    height: 50px;
    border: 1px solid $border-color;
    background-color: $color-background-white;
    text-align: center;
    margin-bottom: $spacing-large;
  }
}
