@import "../../styles/variables";
@import "../../styles/mixins";

.page-nav-wrapper {
  @include flex-column-center;
  margin-top: $spacing-xlarge;

  .page-nav-box {
    @include flex-space-evenly;
    width: 509px;
    height: 50px;
    border: 1px solid $border-color;
    background-color: $white;

    Button {
      @include font-pt-serif;
      text-transform: uppercase;
      color: $color-primary;
      transition: color 0.3s ease;

      &:hover {
        background-color: transparent;
        color: $color-secondary;
      }

      &:disabled {
        color: $color-tertiary;
      }
    }

    .prev-page,
    .next-page {
      @include font-pt-serif(400, 14px, 16px);
      color: $color-tertiary;
      background-position: 0 2px;
      padding: 0 $spacing-small;

      &:hover {
        color: $color-secondary;
      }
    }

    .arrow-next {
      transform: rotate(180deg);
    }
  }
}
