.posts-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .post {
    &-image {
      width: 370px;
      height: 280px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-info {
      width: 370px;
      height: 131px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &-cat {
      padding-top: 15px;
      padding-bottom: 4px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #c9a96e;
    }

    &-head {
      padding: 0px 42px 10px 43px;
      font-family: "PT Serif";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #171717;
      text-decoration: none;
    }

    &-addinfo a {
      font-family: "PT Serif";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      padding-top: 5px;
      padding-bottom: 14px;
      color: #666666;
      padding-right: 10px;
      text-decoration: none;
    }
  }

  .addinfo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .addinfo-wrapper a {
    text-decoration: none;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 14px;
    color: #666666;
    &:hover {
      color: #c9a96e;
    }
  }
  .addinfo-wrapper p {
    text-decoration: none;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 14px;
    color: #666666;
  }

  .shadow {
    box-shadow: 0 8px 20px -10px lightgrey;
  }

  .feat-post {
    &-main-image {
      width: 770px;
      height: 349px;
    }

    &-info {
      width: 770px;
      height: 212px;
      background-color: #ffffff;

      .feat-main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;
        padding-left: 30px;

        .feat-main-head {
          font-family: "PT Serif", serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: #171717;
          text-decoration: none;
        }

        .feat-main-addinfo-wrapper {
          display: flex;
          flex-direction: row;
          gap: 15px;
        }
        .feat-main-addinfo-wrapper a {
          font-family: "PT Serif";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          padding-top: 10px;
          color: #666666;
          text-decoration: none;
        }

        .feat-main-addinfo-wrapper p {
          font-family: "PT Serif";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          padding-top: 10px;
          color: #666666;
        }

        .feat-post-main-cont {
          font-family: "PT Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          padding-top: 14px;
          color: #666666;
        }
      }
    }
  }
}
