@import "../../styles/variables";
@import "../../styles/mixins";

.recipe-post {
  width: 45%;
  margin-bottom: $spacing-large;
  display: flex;
  flex-direction: column;

  .recipe-post-info {
    flex-grow: 1;
    padding: 25px 30px;
    background-color: $white;
    display: flex;
    flex-direction: column;
  }

  .post-cat {
    @include font-pt-serif(400, 12px, 16px);
    text-transform: uppercase;
    color: $color-secondary;
    text-align: left;
  }

  .recipe-main-head {
    @include font-pt-serif(400, 20px, 28px);
    color: $color-primary;
    margin-top: $spacing-small;
    text-decoration: none;
    text-align: left;
  }

  .recipe-main-addinfo-wrapper {
    display: flex;
    flex-direction: row;
    gap: $spacing-medium;
    margin-top: $spacing-small;
    align-items: center;
  }

  .recipe-main-addinfo-wrapper p {
    @include font-pt-serif;
    text-decoration: none;
  }

  .recipe-post-main-cont {
    @include font-pt-sans;
    padding: $spacing-medium $spacing-large 0 0;
    flex-grow: 1;
    overflow: hidden;
  }
}
