@import "../../styles/variables";

.posts-wrapper {
  margin-top: $spacing-xlarge;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-large;
  justify-content: center;

  @media (max-width: $breakpoint-tablet), (max-width: $breakpoint-mobile) {
    gap: $spacing-medium;
  }
}
