.header {
  max-width: 1920px;
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.header-container {
  width: 95%;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
  max-width: 1915px;
}

[class*="col-"] {
  padding-left: 15px;
}
