@import "../../styles/base";

.header {
  max-width: 1920px;
  height: 100px;
  background-color: $color-background-white;
}

.header-container {
  width: 95%;
  margin: 0 auto;
}

.row {
  margin: 0 -$spacing-small;
  max-width: calc(100% - #{$spacing-small * 2});
}

[class*="col-"] {
  padding-left: $spacing-small;
}
