@import "../../styles/base";

.menu {
  @include flex-space-evenly;
  max-width: 369px;
  max-height: 18px;

  a {
    @include font-pt-serif(400, 14px);
    padding: $spacing-small $spacing-medium;
    @include text-link;
  }
}
