@import "../../styles/variables";
@import "../../styles/mixins";

html .post {
  a {
    @include font-pt-serif(400, 20px, 28px);
    text-align: center;
    color: $color-primary;
    text-decoration: none;
  }

  &-image {
    width: 370px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-info {
    width: 370px;
    height: 131px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-cat {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-small;
    text-align: center;
    @include font-pt-serif(400, 12px, 16px);
    text-transform: uppercase;
    color: $color-secondary;
  }

  &-head {
    padding: 0 $spacing-xlarge $spacing-small $spacing-xlarge;
  }
}

html .addinfo-wrapper,
html .feat-main-addinfo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $spacing-small;
  align-items: baseline;

  a {
    @include text-link;
    @include font-pt-serif(400, 12px, 16px);
    padding-bottom: $spacing-medium;
  }

  p {
    @include font-pt-serif;
    font-size: 12px;

    padding-bottom: $spacing-medium;
  }
}

html .feat-post {
  &-main-image {
    width: 770px;
    height: 349px;
  }

  &-info {
    width: 770px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $spacing-small $spacing-medium;
  }

  &-content {
    @include font-pt-sans;
  }
}

html .feat-main-head {
  color: $color-primary;
  @include font-pt-serif(400, 20px, 28px);
  text-align: center;
  text-decoration: none;
  padding: $spacing-small 0 $spacing-medium;
}

html .feat-post-cat {
  color: $color-secondary;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-small;
  @include font-pt-sans(400, 12px, 16px);
  text-transform: uppercase;
}
