@import "../../styles/base";

.footer {
  width: 100%;
  height: 77px;

  .foot-wrapper {
    @include flex-column-center;

    .foot-container {
      width: 1170px;
      border-top: 1px solid $color-footer-border;
      @include flex-center;
      padding-top: $spacing-large;

      p {
        margin: 0;
        @include font-pt-sans;
      }
    }
  }
}
