@import "../../styles/base";

.footer {
  width: 100%;
  height: auto; // Changed to auto to accommodate content size on smaller screens
  margin: 30px 0;
  padding: $spacing-medium 0; // Add some padding on top and bottom

  .foot-wrapper {
    @include flex-column-center;

    .foot-container {
      width: 100%; // Use 100% width for responsiveness
      max-width: 1170px; // Set a max-width for larger screens
      border-top: 1px solid $color-footer-border;
      @include flex-center;
      padding-top: $spacing-large;

      p {
        margin: 0;
        @include font-pt-sans;

        // Adjust font size for mobile devices
        @media (max-width: $breakpoint-mobile) {
          font-size: 12px; // Smaller font size for mobile
        }

        // Adjust font size for tablets
        @media (max-width: $breakpoint-tablet) {
          font-size: 14px; // Slightly larger font size for tablets
        }
      }
    }
  }

  // Adjust padding for mobile and tablet
  @media (max-width: $breakpoint-mobile), (max-width: $breakpoint-tablet) {
    padding: $spacing-small; // Less padding on smaller screens
  }
}
