@import "../../styles/variables";
@import "../../styles/mixins";

.author {
  margin-bottom: 70px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: $spacing-large;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: $spacing-medium;
  }

  .author-pic {
    background-image: url("../../..//public/images/auth-pic.png");
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 270px;
    margin-top: $spacing-medium;

    @media (max-width: $breakpoint-tablet) {
      height: 150px;
      width: 100%;
    }

    @media (max-width: $breakpoint-mobile) {
      height: 120px;
      width: 100%;
    }
  }

  .author-info {
    width: 270px;
    background-color: $white;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    .author-name,
    .author-occup,
    .author-bio {
      text-align: center;
    }

    .author-name {
      @include font-pt-serif(700, 16px, 21px);
      padding-top: $spacing-medium;

      @media (max-width: $breakpoint-tablet) {
        @include font-pt-serif(700, 14px, 18px);
      }

      @media (max-width: $breakpoint-mobile) {
        @include font-pt-serif(700, 12px, 16px);
      }
    }

    .author-occup {
      @include font-pt-serif(400, 14px, 19px);
      font-style: italic;
      padding-top: $spacing-small;
      padding-bottom: $spacing-small;
      border-bottom: 1px solid $border-color;

      @media (max-width: $breakpoint-tablet) {
        @include font-pt-serif(400, 12px, 16px);
      }

      @media (max-width: $breakpoint-mobile) {
        @include font-pt-serif(400, 11px, 15px);
      }
    }

    .author-bio {
      @include font-pt-sans;
      padding: $spacing-medium $spacing-medium;

      @media (max-width: $breakpoint-tablet) {
        padding: $spacing-small $spacing-small;
      }

      @media (max-width: $breakpoint-mobile) {
        padding: $spacing-small;
      }
    }
  }

  .more-author {
    height: 40px;
    border-top: 1px solid $border-color;
    padding-top: $spacing-small;
    text-align: center;

    a {
      @include font-pt-serif(400, 12px, 16px);
      text-transform: uppercase;
      color: $color-secondary;
      text-decoration: none;

      @media (max-width: $breakpoint-tablet) {
        @include font-pt-serif(400, 11px, 15px);
      }

      @media (max-width: $breakpoint-mobile) {
        @include font-pt-serif(400, 10px, 14px);
      }
    }
  }
}
