@import "../../styles/variables";
@import "../../styles/mixins";

.author {
  margin-bottom: 70px;

  .author-pic {
    background-image: url("../../..//public/images/auth-pic.png");
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 270px;
    margin-top: $spacing-medium;
  }

  .author-info {
    width: 270px;
    height: 165px;
    background-color: $white;

    .author-name {
      @include font-pt-serif(700, 16px, 21px);
      text-align: center;
      color: $color-primary;
      padding-top: $spacing-medium;
    }

    .author-occup {
      @include font-pt-serif(400, 14px, 19px);
      font-style: italic;
      text-align: center;
      padding-top: $spacing-small;
      padding-bottom: $spacing-small;
      color: $color-tertiary;
      border-bottom: 1px solid $border-color;
    }

    .author-bio {
      @include font-pt-sans;
      text-align: center;
      padding: $spacing-medium $spacing-medium;
    }
  }

  .more-author {
    height: 40px;
    border-top: 1px solid $border-color;
    padding-top: $spacing-small;
    text-align: center;

    a {
      @include font-pt-serif(400, 12px, 16px);
      text-transform: uppercase;
      color: $color-secondary;
      text-decoration: none;
    }
  }
}
