.feat-left {
  padding-top: 70px;

  &-post {
    margin-top: 20px;
    height: 160px;
    background-repeat: round;

    &-info {
      width: 270px;
      height: 127px;

      &:last-child {
        margin-bottom: 70px;
      }
    }
  }
}
.post {
  &-cat {
    padding: 15px 0 4px;
    text-align: center;
    font-family: "PT Sans";
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #c9a96e;
    }
  }

  &-addinfo {
    a {
      font-family: "PT Serif";
      font-size: 12px;
      line-height: 16px;
      padding: 5px 10px 14px 0;
      color: #666666;
    }
  }
}

.feat-head {
  padding: 0 10px 6px;
  font-size: 18px;
  font-family: "PT Serif";
  text-align: center;

  a {
    color: #171717;
    text-decoration: none;
  }
}

.addinfo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic1,
.pic2,
.pic3 {
  background-repeat: round;

  &.pic1 {
    background-image: url("../../../public/images/feat-post1.png");
  }

  &.pic2 {
    background-image: url("../../../public/images/feat-post2.png");
  }

  &.pic3 {
    background-image: url("../../../public/images/feat-post3.png");
  }
}
