.tags-wrapper,
.top-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 270px;
  margin-top: 20px;

  &.top-tags-wrapper {
    margin-top: 20px;
  }
}

.tags,
.tags a {
  height: 30px;
  background-color: #f8f9fa;
  font-family: "PT Serif";
  font-size: 14px;
  line-height: 19px;
  color: #666666;

  &.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
  }

  &.tags a {
    display: flex;
    align-items: center;
  }
}
