@import "../../styles/variables";
@import "../../styles/mixins";

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
  max-width: 270px;
  margin-top: $spacing-large;

  .tags {
    flex: 1 0 calc(33.3333% - #{$spacing-small});
    @include flex-center;
    height: 30px;
    background-color: #f8f9fa;
    padding: 0 $spacing-medium;

    .tag-link {
      @include font-pt-serif;
      @include text-link;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      p {
        padding-top: $spacing-small;
        text-align: center;
        height: 30px;
        background-color: #f8f9fa;
      }
    }
  }
}
